*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
}

.text-primary{
    color: #5c96be;
}
.lead{
    font-size: 20px;
}
/* -------------------- Main Navbar -------------------- */

.main-nav{
    background: linear-gradient(45deg,black,darkslategray);
    color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;

}
.main-nav h1{
    display: flex;
}
.main-nav img{
    width: 30px;
    height: 30px;
}
.main-nav ul{
    display: flex;
    list-style: none;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

.main-nav ul li a:hover{
    color: #5c96be;

}

.btn-primary{
    background-color:#5c96be;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 14px 25px;
    margin-top: 10px;
    border-radius: 5px;
}
.btn-primary:hover{
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

/* -------------------------- Landing Area ------------------------*/
.container{
    background: white url("img/building.png") no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.container-wrapper{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.container-wrapper h1{
    font-size: 50px;
}

/* ----------------------------------------- Media Queries ----------------------------------------------*/

@media (max-width: 768px) {
    .main-nav{
        flex-direction: column;
    }
    .main-nav ul{
        margin-top: 10px;
    }
}

