body{
    font-family: Arial, sans-serif;
}

.container{
   background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container h1{
    background: linear-gradient(45deg,blueviolet,deeppink);
    color: white;
    text-align: center;
    padding: 25px;
    margin: 10px;
}